.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f7418f;
  transition: width 0.3s ease;
}

.hover-underline:hover::after {
  width: 100%;
}
.hover-float:hover {
  transform: translateY(-4px);
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}