@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}
#bg-blur {
  backdrop-filter: blur(3px);
}
.bg-blur {
  backdrop-filter: blur(10px);
}
.blur-bg{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#dosa-img {
  filter: drop-shadow(10px 10px 20px black);
  rotate: 20deg;
  transform: skew(0deg,0deg);
  animation: img-up-down 4s infinite;
}
#samosa-img {
  filter: drop-shadow(10px 10px 20px black);
  animation: img-up-down 5s infinite;
}
@keyframes img-up-down {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateY(20px);
  }
}
.started-btn {
  filter: drop-shadow(10px 10px 10px #454545);
}
#nav-icon::after {  
  content: "";  
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: black;
  transition: all ease-in-out .5s;
}
#nav-icon:hover::after {
  width: 100%;
  left: 0;
  bottom: 0;
}
.drop-shadow {
  filter: drop-shadow(7px 7px 5px #222);
}
.drop-shadow:hover {
  filter: drop-shadow(7px 3px 5px #222);
}